<!DOCTYPE HTML>
<html>
<script src= "src="https://ajax.googleapis.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
<script src= "calculator.js"></script>
 
<div ng-app="CalculatorApp" ng-controller="CalculatorController">
  <p>a<input type="number" ng-model="a"></p>
  <p>b<input type="number" ng-model="b"></p>
  <p><select ng-model="operator">
        <option>+</option>
        <option>*</option>
        <option>-</option>
        <option>/</option>
     </select></p>
  <p>a{{ result() }}</p>
 </div>
<body>
angular.module('CalculatorApp', [])
    .controller('CalculatorController', function($scope) {
        $scope.result = function() {
            if ($scope.operator == '+') {
                return $scope.a + $scope.b;
            }
            if ($scope.operator == '-') {
                return $scope.a - $scope.b;
            }
            if ($scope.operator == '*') {
                return $scope.a * $scope.b;
            }
            if ($scope.operator == '/') {
                return $scope.a / $scope.b;
            }
        };
    });
</body>
</html>
